POSTGRES_USER=convoy
POSTGRES_PASSWORD=convoy
POSTGRES_DB=convoy
POSTGRES_PORT=5433
DATABASE_URL=postgres://convoy:convoy@127.0.0.1:5433/convoy
JWT_SECRET=hellochangeme
USE_JWKS_REPOSITORY=false
ALLOW_INSECURE_SECRETS=true
ADMIN_PASSWORD=admin
OBSERVER_PASSWORD=observer
FOLLOWER_PASSWORD=observer
APP_DOMAIN=convoy.lvh.me
